[data-md-color-scheme="default"] {
    --md-primary-fg-color: rgb(200, 101, 76);
    --md-primary-fg-color--light: rgb(200, 101, 76);
    --md-primary-fg-color--dark: rgb(200, 101, 76);
    --md-accent-fg-color: rgb(200, 101, 76);
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: rgb(200, 101, 76);
    --md-primary-fg-color--light: rgb(200, 101, 76);
    --md-primary-fg-color--dark: rgb(200, 101, 76);
    --md-accent-fg-color: rgb(200, 101, 76);
}

.md-typeset figure {
    margin: 0.5em auto !important;
}

.md-typeset figure + figure {
    margin-top: 0.5em !important;
}

.md-typeset figure p {
    margin: 0 !important;
}

.md-typeset figcaption {
    margin: 0.25em auto 0 !important;
}

.md-typeset p:has(> figure) {
    margin: 0 !important;
}