[data-md-color-scheme="default"] {
    --md-primary-fg-color: rgb(200, 101, 76);
    --md-primary-fg-color--light: rgb(200, 101, 76);
    --md-primary-fg-color--dark: rgb(200, 101, 76);
    --md-accent-fg-color: rgb(200, 101, 76);
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: rgb(200, 101, 76);
    --md-primary-fg-color--light: rgb(200, 101, 76);
    --md-primary-fg-color--dark: rgb(200, 101, 76);
    --md-accent-fg-color: rgb(200, 101, 76);
}

.md-typeset figure {
    margin-top: 1em;
    margin-bottom: 1em;
}

.md-typeset figure figcaption {
    margin-top: 0.4em;
    margin-bottom: 0;
}